:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #2a2a2a;
  background-image: url(https://img.freepik.com/free-vector/blurred-summer-beach-background_1051-946.jpg?w=740&t=st=1719499427~exp=1719500027~hmac=732b1f0cccfc70f0716eb2cc9b45f6d6256c5b351081c2c6c4fcea1aeeae36f4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
